:root[data-theme="light"] {
	--bg: #dddddd;
	--game-bg: #cccccc;
	--highlight: #aaaaaa;
	--text: #111111;
}

:root[data-theme="dark"] {
	--bg: #111111;
	--game-bg: #222222;
	--highlight: #666666;
	--text: #cccccc;
}

body {
	background: var(--bg);
	color: var(--text);

	font-family: monospace;
}

#search-filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.games {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	padding-left: 0px;
}

.game {
	background: var(--game-bg);
}

.game-info {
	margin: 10px;
}

.game_image {
	max-width: 100%;
}

.game-frame {
	border: none;
}
